
h3, p{
    text-align: center;
    color: white;
    }

/* Navigation */
#masterHeader{
    border-bottom: 1px solid white;
    /* background-color: black; */
}

.foot{
    display: inline-block;
}

body{
    background-color: black;
}

h2{
    color: white; 
}
/* Portfolio */

/* 
#logo{
    float: left;
} */
.portfolioBody{
    background-color: white;
}

.head{
    text-align: center;
    font-size: 50px;
}

/* knowledge */
.card-img{
    height: 50px;
    width: 50px;
    background-color: black;
}

.card-text{
    color: white;
}

.card-mb-3{
background-color: black;
float: left;
}

.card-title{
    color:  #bd5d38;
}
img{
    height: 50px;
    width: 200px;
}

/* Portfolio */
#portfolioHeader{
    border-bottom: 1px solid black;
}

nav{
    margin-right: 10px;
    color: black; 
    float: right;

}

a:hover {
color: #bd5d38; 
text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  a{
      margin-right: 20px;
  }