
html, body{
    margin: 0;
    padding: 0;  
    background: grey; 
    height: 100%; 

}

/* this is how to do a sticky footer, everything below is needed. (.page-content::after is a psuedo class so it wont have a tag in html it is just created in css */
.page-content{
    min-height: 100%; 
    margin-bottom: -120px; 

}

.page-content::after{
    content: "";
    display: block; 
}
footer, .page-content::after{
    height: 120px;
}

h1{
    background: #4aaaa5; 
    float: left; 
    padding: 20px; 
    margin: 0; 

}
  
header{
    background: white; 
    padding: 0 260px; 
    color: white; 
    margin: 0; 
}

section{
    width: 960px; 
    line-height: 40px; 
    margin: 30px auto; 
    background: white; 
    padding: 20px; 

    
}
/* This is how to apply clearfix to clear floats */
.clearfix:after{
    content: "";
    width: 100%;
    display: table; 
    clear: both; 
}

img{
    margin-top: 20px; 
    float: left; 
    padding-right: 20px;
    height: 175px;
    width: 125px; 

}

nav{
    float: right; 
    padding-top: 30px; 
    /* padding-left: 50px;  */
  
}



h2{
    color: #4aaaa5; 
}

footer{
    background:#666666; 
    border-top: 8px solid #4aaaa5; 
    text-align: center; 
    color: white; 
 
}

a{
    text-decoration: none; 
    padding: 20px; 
    margin-top: 20px; 

}
a:hover{
    color: blue;
}

.top{
    background: white; 
}



p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cc{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    width: 100%; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit{ 
    width: 150px;
    background-color:  #4aaaa5;
    color: white; 
    padding: 10px 20px 10px 20px; 
    border: solid 2px #4aaaa5; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#subject{
    width: 100%; 
}

button{
    background-color:  #4aaaa5;
    color: white; 
    padding: 10px 20px 10px 20px; 
    border: solid 2px #4aaaa5; 
}

.portfolio{
    width: 960px; 
    height: 1040px;  
    margin: 30px auto; 
    background: white; 
    padding: 20px; 
}

 .portfolio img{

   width: 200px; 
   height: 200px; 
   padding-right: 20px; 
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .portfolio p {
      position: absolute; 
      color: white;
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: #4aaaa5;
      width: 320px;  
      text-align: center; 
      /* top:400px; */
     
  }
.hangman{
    top: 370px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
   
}

.rutgers{
    top: 370px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
   
}

.rockpaper{
    top: 830px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
   
}

.trivia{
    top: 600px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
   
}

.rpg{
    top: 600px; 
    padding-top: 10px; 
    padding-bottom: 10px; 
   
}

@media screen and (max-width: 980px) {
    section{
    width: 750px; 
    }

}


@media screen and (max-width: 768px) {
    section{
        width: 600px;   
    }
}


@media(max-width: 640px) {
    section{
        width: 200px; 
        }
        
    .column{
        float: none;
        width: 50%;
    }
    header{
        position: fixed;
    }

}